trigger:
- main

pool:
  vmImage: ubuntu-latest

# Set Build.BuildNumber to a simple incrementing integer
name: $(Rev:r)

variables:
 - name: ARTIFACT2SCAN
   value: struts2-showcase.war
 - name: REPORT_PATH
   value: RLSecure
 - name: RL_PORTAL_SERVER
   value: "trial"
 - name: RL_PORTAL_ORG
   value: "Trial"
 - name: RL_PORTAL_GROUP
   value: "'ProdMgmt'"
 - name: RL_PACKAGE_URL
   value: "Apache/Struts2showcaseADO@2.5.28"

steps:
- task: Maven@4
  displayName: 'Build'
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx2048m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'

- script: |
    echo 'Build number is $(Build.BuildNumber)'
    echo 'Build ID is $(Build.BuildId)'

- task: Bash@3
  displayName: 'Set prev build num'
  inputs:
    targetType: 'inline'  
    script: |
      export BN=$(Build.BuildNumber)
      echo 'BN is ' $BN
      export PREVBN=$(($BN-1))
      echo 'PREVBN is ' $PREVBN
      echo "##vso[task.setvariable variable=pbn]$PREVBN"

- bash: |
    mkdir -p $(REPORT_PATH)
    echo 'PBN is ' $PBN
    docker run --rm -u $(id -u):$(id -g) \
      -e RLPORTAL_ACCESS_TOKEN=$(RLPORTAL_ACCESS_TOKEN) \
      -v $(System.DefaultWorkingDirectory)/target:/packages:ro \
      -v $(System.DefaultWorkingDirectory)/$(REPORT_PATH):/report \
      reversinglabs/rl-scanner-cloud:latest \
        rl-scan \
          --rl-portal-server=$(RL_PORTAL_SERVER) \
          --rl-portal-org=$(RL_PORTAL_ORG) \
          --rl-portal-group=$(RL_PORTAL_GROUP) \
          --purl=$(RL_PACKAGE_URL)-$(Build.BuildNumber) \
          --file-path=/packages/$(ARTIFACT2SCAN) \
          --report-path=/report \
          --report-format=all
  displayName: 'RL scan via rl-scanner-cloud Docker image'

- publish: $(System.DefaultWorkingDirectory)/$(REPORT_PATH)/report.cyclonedx.json
  displayName: 'Publish CycloneDX'
  artifact: 'CycloneDX-SBOM'
  condition: succeededOrFailed()

- publish: $(System.DefaultWorkingDirectory)/$(REPORT_PATH)/report.spdx.json
  displayName: 'Publish SPDX'
  artifact: 'SPDX-SBOM'
  condition: succeededOrFailed()

- publish: $(System.DefaultWorkingDirectory)/$(REPORT_PATH)/report.rl.json
  displayName: 'Publish RL-json'
  artifact: ReversingLabs-JSONreport
  condition: succeededOrFailed()
